@import url(./reset.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Monserrat', sans-serif;


}

body {
    background-color: #F2E5E5;
    width: 100vw;
}

h1 {
    font-size: 24px;
}

.name h1 {
    font-weight: bold;
}

h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

#content h1 {
    color: #2A7AAD;
    font-weight: bold;
}

#content h2,
#content h4 {
    color: #2A7AAD;
}

#content p {
    color: #2B3A55;
}

/* Header */
header {
    /* background-color: #F2E5E5; */
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    position: fixed;
    color: #2B3A55;
    background-color: #F2E5E5;

}

/* Hamburger Menu */
.checkbtn {
    display: block;
    position: relative;
    cursor: pointer;
}

#check {
    display: none;
}

#check:checked~ul {
    left: 0;
}

.line {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #2B3A55;
    margin: 5px;
    border-radius: 3px;
    transition: all .5s;
}

/* Navbar */
nav ul {
    position: fixed;
    width: 100vw;
    /* height: 100vh; */
    left: -100%;
    text-align: center;
    justify-content: center;
    transition: all .5s;
    background-color: #F2E5E5;
    /* z-index: 2; */
}

nav ul li {
    display: block;
    padding: 18px;

}

nav a {
    text-decoration: none;
    color: #2B3A55;
}

a:hover,
a.active,
a:visited {
    font-weight: bold;
}

nav.active ul {
    left: 0;
}

/*Responsive Menu Animation */
#check:checked+.checkbtn .line:nth-child(1) {
    transform: translateY(10px) rotate(-45deg);
}

#check:checked+.checkbtn .line:nth-child(2) {
    opacity: 0;
}

#check:checked+.checkbtn .line:nth-child(3) {
    transform: translateY(-6px) rotate(45deg);
}


/* Responsive Breakpoint*/
/* Tablet */
@media screen and (min-width: 481px) {
    header {
        padding: 12px 24px;
    }

}

/* Dekstop */
@media screen and (min-width: 769px) {
    header {
        display: flex;
        /* width: 100vw; */
        padding: 12px 80px;
        align-items: center;
        justify-content: space-between;
    }

    .name {
        white-space: nowrap;
    }

    .line {
        display: none;
    }

    .checkbtn {
        display: none;
    }

    nav {
        right: 0;
        display: flex;
        justify-content: flex-end;
    }

    nav ul {
        left: 0;
        display: flex;
        position: relative;
        /* justify-content: space-between; */
        background-color: transparent;
        transition: all 0s;
        width: 100%;
        /* justify-content: flex-end; */
    }

}